---
import { Icon } from "astro-icon/components";

interface Props {
    href: string;
    icon: string;
    label: string;
}

const { href, icon, label } = Astro.props;
---

<div class="flex-col">
    <p class="dark:bg-blue-800 bg-blue-100 not-dark:hover:bg-blue-200 dark:hover:opacity-80 rounded-lg">
        <a href={href}>
            <span class="p-3 flex space-x-1">
                <Icon name={icon} class="mr-2 inline-block flex-col my-auto" />
                <span class="flex-col">{label}</span>
            </span>
        </a>
    </p>
</div>
