@import "tailwindcss";

.astro-code,
.astro-code span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
    font-style: var(--shiki-light-font-style) !important;
    font-weight: var(--shiki-light-font-weight) !important;
    text-decoration: var(--shiki-light-text-decoration) !important;
}

@media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}

.md * {
    @apply mb-4;
}

.md a {
    @apply underline;
}

.md ul {
    @apply list-disc pl-4 my-6;
}

.md ol {
    @apply list-decimal pl-4 my-6;
}

.md li > pre {
    @apply mt-4;
}

.md pre {
    @apply p-4 rounded-xl;
}

.md h2 {
    @apply text-2xl font-bold;
}

.md h3 {
    @apply text-xl font-bold;
}

.md h4 {
    @apply text-lg font-bold;
}

.md blockquote {
    @apply bg-gray-100 dark:bg-gray-800 p-4 rounded-xl *:mb-0;
}

a:has(> span.icon-link) {
    text-decoration: none !important;
}

h2 .icon-link::before {
    content: "🔗";
    filter: brightness(0);
    margin-right: 0.25rem;
    margin-left: -0.3rem;
    text-decoration-line: none !important;
    @apply print:hidden;
}

@media (prefers-color-scheme: dark) {
    h2 .icon-link::before {
        filter: brightness(0) invert(1);
    }
}
